body{
    background-color: #07032B !important;
    min-height: 100vh;
}
.row {
    max-height: fit-content;
    background: #07032B;
    width: 100%;
    margin: 0px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-color: #07032B;
    background-size: 100%, 100%;
    border-radius: 50%;
}

.card {
    margin-top: 15px !important;
    padding: 15px;
    background-color: whitesmoke;
    border: 1px white solid !important;
    border-radius: 25px !important;
    margin-bottom: 20px;
    text-align: center;
    width: 100% !important;
    color: #07032B !important;
}

.card img {
    width: 200px !important;
    height: 220px;
    margin: auto;

}

.View-button {
    background: #2798ee;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
}

.back-button {
    /* background: linear-gradient(to left, #1a93b8, #e6a9e1); */
    background: #2798ee;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
}